# Directorios y ficheros ignorados por git
build/
libraries/
node_modules/
src/
grunt-tasks/utilities/templates/
grunt-tasks/utilities/symbols/plugins/
grunt-tasks/utilities/exports/plugins/
node
target
externs
libraries
doc
test/index.html
*~

